<div class="container mt-10">
 <p > From Event</p>

<div class="row mt-10">
  <div class="col-3">
    <mat-card>
      <mat-card-title>Add Video</mat-card-title>
      <mat-card-actions #addBtn>
        <button mat-raised-button color="accent">Add</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-3 ml-10">
    <mat-card>
      <mat-card-title>Add Video</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <ul id="elContainer">
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3 ml-10">
    <mat-card>
      <mat-card-title>Add Video</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <ul id="el1Container">
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

</div>

</div>
