<div class="container">
  <div class="row">
    <h2>Take, TakeLast, TakeUntil</h2>
  </div>

  <div class="row mt-10">
    <div class="col-4">
      <strong>Ex-01 | take(5)</strong>
      <hr>
      <ul id="elContainer1">

      </ul>
    </div>

    <div class="col-4 ml-10 ">
      <strong>Ex-02 | takeLast(5)</strong>
      <hr>
      <ul id="elContainer2">

      </ul>
    </div>

    <div class="col-4 ml-10 ">
      <strong>Ex-03 | takeUntil(5)</strong>
      <hr>
      <ul id="elContainer3">

      </ul>
    </div>
  </div>
</div>
