<div class="container">
  <div>
    <h4>Retry | RetryWhen | Scan | Delay</h4>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-4 mt-10">
        <table class="mt-10" *ngIf="person != null">
          <tr>
            <th>Id</th>
            <th>{{ person.id }}</th>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ person.name }}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{ person.age }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ person.email }}</td>
          </tr>
        </table>
        <button
          styele="margin-top:10px"
          mat-raised-button
          color="primary"
          [class.spinner]="loading && status != 'Fetched'"
          class="mt-10"
          [disabled]="loading"
          (click)="fetchDetails()"
        >
          {{ loading == true && status!='Fetched' && status!='fetching'? 'Fetching...' : 'Fetch Details' }}
        </button>
        <p style="margin-top: 10px;">
        Status: <strong [ngClass]="{'text-success':status=='Fetched',
      'text-danger':status=='Problem in fetching data...'}">
          {{ status }}
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>
