<div class="mt-10 list-comp">
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">

    <a [routerLink]="['fromEvent']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">From Event</mat-grid-tile>
    </a>
    <a [routerLink]="['interval']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Interval</mat-grid-tile>
    </a>
    <a [routerLink]="['of-from']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Of & From</mat-grid-tile>
    </a>
    <a [routerLink]="['to-array']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">To Array</mat-grid-tile>
    </a>
    <a [routerLink]="['custom-observable']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Custom Observable</mat-grid-tile>
    </a>
    <a [routerLink]="['map']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Map</mat-grid-tile>
    </a>
    <a [routerLink]="['fluck']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Fluck</mat-grid-tile>
    </a>
    <a [routerLink]="['filter']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Fliter</mat-grid-tile>
    </a>
    <a [routerLink]="['tap']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Tap</mat-grid-tile>
    </a>
    <a [routerLink]="['take']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Take</mat-grid-tile>
    </a>

    <a [routerLink]="['retry']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Retry</mat-grid-tile>
    </a>

    <a [routerLink]="['debounce']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Debounnce time & Distinct time</mat-grid-tile>
    </a>
    <a [routerLink]="['concat-merge']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Concat & Merge </mat-grid-tile>
    </a>
    <a [routerLink]="['subject']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Subject & Behaviour Subject </mat-grid-tile>
    </a>
    <a [routerLink]="['replaysubject']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Replay Subject</mat-grid-tile>
    </a>
    <a [routerLink]="['asyncsubject']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Async Subject</mat-grid-tile>
    </a>

    <a [routerLink]="['mergemap']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">MergeMap</mat-grid-tile>
    </a>
    <a [routerLink]="['concatmap']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">ConcatMap</mat-grid-tile>
    </a>
    <a [routerLink]="['switchmap']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">SwitchMap</mat-grid-tile>
    </a>
    <a [routerLink]="['exhaustmap']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">ExhaustMap</mat-grid-tile>
    </a>
    <a [routerLink]="['sharereplay']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">ShareReplay</mat-grid-tile>
    </a>
    <a [routerLink]="['combinelatest']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">CombineLatest</mat-grid-tile>
    </a>
    <a [routerLink]="['zip']" routerLinkActive="active">
      <mat-grid-tile rowspan="2" color="accent">Zip and Forkjoin</mat-grid-tile>
    </a>


  </mat-grid-list>
</div>

