<div class="container">
  <h2>Concat</h2>
  <br />
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4">
      <strong>Ex -01 | Map</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;">
        <strong>Videos:</strong>
        ['Tech','Comedy','News']
      </p>
      <br />
      <ul id="elContainer1">

      </ul>
    </div>

    <div class="col-4 ml-10">
      <strong>Ex-02 | mergeAll</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;">
        <strong>Videos</strong>
        ['Tech','Comedy','News']
      </p>
      <br />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-4 ml-10">
      <strong>Ex-03 |mergeMap</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;">
        <strong>Videos</strong>
        ['Tech','Comedy','News']
      </p>
      <br />
      <ul id="elContainer3">

      </ul>

    </div>
  </div>


</div>

