<div class="container">
  <p>Of and from</p>
  <br />
  <div class="row">
    <div class="col-6">
      <p class="mat-body-2">Ex-01 (OF)</p>
      <p class="col-6 bg-light px-3 rounded" style="padding: 10px;">
        <strong>Data:</strong>
        of('Anup', 'Ankur','Sachin')
      </p>
      <hr />
      <ul id="elContainer"></ul>
    </div>

    <div class="col-6 ml-10">
      <p class="mat-body-2">Ex-01 (OF)</p>
      <p class="col-6 bg-light px-3 rounded" style="padding: 10px;">
        <strong>Data:</strong>
        of(&#123;'a':'Anup', 'b':'Bani','c':'Chandu'})
      </p>
      <hr />
      <ul id="elContainer1">
        <li><strong>a:</strong><strong>{{obsMsg2.a}}</strong></li>
        <li><strong>b:</strong><strong>{{obsMsg2.b}}</strong></li>
        <li><strong>c:</strong><strong>{{obsMsg2.c}}</strong></li>
      </ul>
    </div>
    </div>



    <div class="row">
      <div class="col-4">
        <p class="mat-body-2">Ex-02 (From)</p>
        <p class="col-6 bg-light px-3 rounded" style="padding: 10px;">
          <strong>Data:</strong>
          from(['Anup1', 'Ankur1','Sachin1'])
        </p>
        <hr />
        <ul id="elContainer3"></ul>
      </div>

      <div class="col-4 ml-10">
        <p class="mat-body-2">promise</p>
        <p class="col-6 bg-light px-3 rounded" style="padding: 10px;">
          <strong>promise to observable conversion</strong>
        </p>
        <hr />
        <ul id="elContainer4">

        </ul>
      </div>
      <div class="col-4">
        <p class="mat-body-2">Ex-02 (From)</p>
        <p class="col-6 bg-light px-3 rounded" style="padding: 10px;">
          <strong>String to observable:</strong>
          from("welcome")
        </p>
        <hr />
        <ul id="elContainer5"></ul>
      </div>
      </div>
</div>
