<div class="container">
  <p mat-title> Map</p>
  <div class="row">
    <div class="col-4">
      <strong>Ex-01</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;"><strong>Map : </strong>data => 'video' + data</p>
      <br>
      <p>Message  <strong class="text-success">{{msg1}}</strong></p>
      <hr>
    </div>


    <div class="col-4 ml-10">
      <strong>Ex-01</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;"><strong>Map : </strong>data=> 'video'+ data*3</p>
      <br>
      <p  class="text-success">Message : {{msg2}}</p>
      <hr>
    </div>
    <div class="col-4 ml-10">
      <strong>Ex-01</strong>
      <mat-divider></mat-divider>
      <p class="bg-light px-3 rounded" style="padding: 10px; margin-top: 10px;"><strong>Map : </strong>Map Object Data</p>
      <br>
      <ul id="elContainer">

      </ul>

    </div>











  </div>
</div>
